body{
	margin:0;
	overflow: hidden;
}

#divCoordControls{
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 10px;
	background-color: goldenrod;
	text-align: center;
	padding:3px;
}

#txtXCoord{
	width: 50px;
	margin: 2px;
}

#txtYCoord{
	width: 50px;
	margin: 2px;
}